<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>

    </head>

    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>


        <footer th:fragment="footer">
            <div>
                <br/>
                <a th:href="@{/(lang=es)}">ES</a>
                <a th:href="@{/(lang=en)}">EN</a>
                <span>[[#{plantilla.pie-pagina}]]</span>
                <form method="POST" th:action="@{/logout}">
                    <a href="#" onclick="this.parentNode.submit();">Logout</a>
                </form>
            </div>
  
        </footer>
    </body>


</html>
